---
---

@import "{{ site.theme }}";

.contact {
  margin: 0 0 20px;
}

.printonly {
  display: none;
}

@media print {
  .printonly {
    display: inherit;
  }

  .noprint, footer {
    display: none;
  }

  h2 {
    margin-top: 40px;
  }
}
